/* Navbar - Fixed at the top */
.nav-header {
  width: 100%;
  background-color: #0D0D0D;
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  border-bottom: 3px solid #00FF00;

  /* Background image settings */
  background-image: url('../../assets/bg3.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* Hide navbar when scrolling down */
.hidden {
  transform: translateY(-100%);
}

/* Navbar Container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

/* Logo */
.logo img {
  width: 60px;
  height: 60px;
  padding-left: 80px;
  object-fit: contain;
}

/* Desktop Nav Links */
.nav-links-container {
  display: flex;
  list-style: none;
  gap: 30px;
  padding-right: 80px;
}

.nav-links {
  text-decoration: none;
  font-size: 15px;
  font-family: 'IBM Plex Mono', monospace;
  color: #00FF00;
  transition: color 0.3s ease-in-out;
}

.nav-links:hover {
  color: #FFE9D4;
  text-decoration: underline;
  padding: 8px;
  border-radius: 10px;
}

/* Normalize button appearance to match links */
.nav-links.logout-btn {
  all: unset;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: 'IBM Plex Mono', monospace;
  color: #00FF00;
  transition: color 0.3s ease-in-out;
}

.nav-links.logout-btn:hover {
  color: #FFE9D4;
  text-decoration: underline;
  /* padding: 4px; */
  border-radius: 10px;
}


/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger-on {
  color: #00FF00;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background: rgba(13, 13, 13, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transform: translateX(110%); /* Move further to prevent hidden width */
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.active {
  transform: translateX(0);
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #FFE9D4;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links-container {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
